.menu {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  backdrop-filter: blur(10px);
  font-size: 12px;
  padding: 0 20px;
}

.menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  cursor: pointer;
}

.menu li p {
  text-align: center;
}