.system-levels {
  /*background-color: black;*/
  /*padding: 20px 10px;*/
  flex-grow: 1;
  font-family: RobotoCondensed;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('/gaming-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.35s ease all;
}

.stony-bg {
  background-image: url('/stony-bg.png');
  background-position: center top;
}

.acid-bg {
  background-image: url('/acid-bg.png');
}

.title-wrapper {
  margin-top: 20px;
}

.system-levels h1 {
  position: relative;
  z-index: 5;
}

.subtitle {
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.slider-wrapper {
  flex-grow: 1;
  /*height: 100%;*/
}

