@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-opacity: rgba(255, 218, 141, 0.1);
  --gray: #1c1f24;
  --orange: #eca843;
}

@font-face {
  font-family: "Neue";
  src:
          local("Neue"),
          url("./assets/NeuePower-Heavy.otf") format("opentype")
}
@font-face {
  font-family: "NeueBold";
  src:
          local("Neue"),
          url("./assets/NeuePower-Ultra.otf") format("opentype")
}


@font-face {
  font-family: "RobotoCondensed";
  font-weight: 300;
  src:
          url("./assets/RobotoCondensed-Light.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoCondensed";
  font-weight: 400;
  src:
          url("./assets/RobotoCondensed-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoCondensed";
  font-weight: 500;
  src:
          url("./assets/RobotoCondensed-SemiBold.ttf") format("truetype")
}

body {
    font-family: "Neue", sans-serif;
}


.page-title {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  font-family: RobotoCondensed;
}

@keyframes float {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
